:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

mat-sidenav-container {
  height: 100%;
}

.header {
  display: flex;
  align-items: center;
  min-height: 60px;
  box-shadow: 0px 2px 1px #d4d1d1;
  z-index: 10;
  background-color: #c62828;
  color: white;
  font-size: 1.2em;
}

mat-sidenav {
  width: 100%;
  max-width: 380px;
  background-color: #c62828;
  color: white;

  .sidenav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    z-index: 10;
    font-size: 1.2em;
    padding: 0px 0px 0px 15px;
    border-bottom: 2px solid white;

    div {
      font-weight: bold;
    }
  }

  .sidenav-entry {
    display: flex;
    align-items: center;
    padding: 11px 4px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
    transition: background-color 1s ease-out;
    transition: color .3s ease-out;

    .icon {
      transition: color .3s ease-out;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 35px;
    }
  }

  .sidenav-entry:hover {
    background-color: white;
    color: #c62828;

    .icon {
      color: #c62828;
    }
  }

  .sidenav-user {
    padding: 10px;

    .profile-image {}

    .profile-name {
      text-align: center;
      font-weight: bold;
      font-size: 1.2em,
    }
  }
}


.profile-details {
  display: flex;

  .profile-xp {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 1.3em;
    font-family: sans-serif;
    justify-content: flex-end;
    border-radius: 7px;
    padding: 2px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.5411764705882353);
  }

  .profile-gold {
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    font-weight: bold;
    color: black;
    font-size: 1.3em;
    font-family: sans-serif;
    justify-content: flex-end;
    border-radius: 7px;
    padding: 2px;
    margin: 2px;
    background-color: rgba(255, 255, 255, 0.5411764705882353);
  }
}

.gold-logo {
  width: 25px;
  height: 25px;
  background-image: url('assets/images/gold-black.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 5px;
}

.xp-logo {
  width: 25px;
  height: 25px;
  background-image: url('assets/images/xp-logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 5px;
}
