:host{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #c62828;
    height: 100%;
}

.login-card{
}

form{
    padding: 20px;
    border-radius:5px;
    background-color: white;
    box-shadow: 2px 2px 2px #9c9c9cab;
    min-width: 380px;
    display: flex;
    flex-direction: column;
    color: black;
}
.title{
    text-align: center;
    padding: 13px 0px;
    font-size: 1.2em;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.login-failed{
    padding: 4px;
    background-color: #c62828;
    color: white;
    border-radius: 10px;
    margin-bottom: 6px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}